<div class="col-lg-8">
    <div class="cart-page-inner">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    {{#if isWishlist}}
                        <th>Cart</th>
                    {{else}}
                        <th>Quantity</th>
                        <th>Total</th>
                    {{/if}}
                    <th>Remove</th>
                </tr>
                </thead>

                <tbody class="align-middle">
                {{#each cart}}
                    {{#with product}}
                        <tr id="product-{{id}}">
                            <input type="hidden" value="{{id}}">
                            <td>
                                <div class="img">
                                    <a href="/products/{{id}}"><img src="{{images.[0].url}}"
                                                                    alt="Image"></a>
                                    <p>{{name}}</p>
                                </div>
                            </td>
                            <td class="product-price">{{price}}₫</td>
                            {{#if ../isWishlist }}
                                <td>
                                    <button><i class="fa fa-shopping-cart"></i></button>
                                </td>
                            {{else}}
                                <td>
                                    <div class="qty">
                                        <button class="btn-minus in-cart"><i class="fa fa-minus"></i></button>
                                        <input type="text" value="{{../quantity}}"
                                               class="product-quantity in-cart">
                                        <button class="btn-plus in-cart"><i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                                <td class="in-total">{{../total}}₫</td>
                            {{/if}}
                            <td>
                                <button class="product-delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    {{/with}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>