<div class="col-lg-8">
    <div class="cart-page-inner">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    {{#if isWishlist}}
                        <th>Cart</th>
                    {{else}}
                        <th>Total</th>
                    {{/if}}
                    <th>Remove</th>
                </tr>
                </thead>

                <tbody class="align-middle">
                {{#each product}}
                    <tr>
                        <td>
                            <div class="img">
                                <a href="product-detail"><img src="{{image.[0]}}" alt="Image"></a>
                                <p>{{name}}</p>
                            </div>
                        </td>
                        <td>${{price}}</td>
                        <td>
                            <div class="qty">
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                        {{#if ../isWishlist }}
                            <td>
                                <button><i class="fa fa-shopping-cart"></i></button>
                            </td>
                        {{else}}
                            <td>$99</td>
                        {{/if}}
                        <td>
                            <button><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>