{{> header shopActive=" active"}}

{{> breadcrum activeItem=categoryName}}

<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-search">
                                        <input type="text" value="{{searchQuery}}" id="search_text">
                                        <button id="search_btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-sort">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">{{sort}}</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {{# each criteria}}
                                                    <a href="{{url}}" class="dropdown-item">{{value}}</a>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">{{priceRange}}
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {{#each range}}
                                                    <a href="{{url}}" class="dropdown-item">{{value}}</a>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each product}}
                        <div class="col-md-4">
                            {{> product product=this}}
                        </div>
                    {{else}}
                        <div class="col-md-12"><h3 class="no-product-notice">NO PRODUCTS HERE</h3></div>
                    {{/each}}
                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <!-- Previous Button -->
                            {{#if previous}}
                                <li class="page-item">
                                    <a class="page-link" href={{previous.url}}>Previous</a>
                                </li>
                            {{/if}}

                            <!-- Pages -->
                            {{#each pages}}
                                {{#if active}}
                                    <li class="page-item active"><a class="page-link" href={{url}}>{{page}}</a></li>
                                {{else}}
                                    <li class="page-item"><a class="page-link" href={{url}}>{{page}}</a></li>
                                {{/if}}
                            {{/each}}

                            <!-- Next Button -->
                            {{#if next}}
                                <li class="page-item">
                                    <a class="page-link" href={{next.url}}>Next</a>
                                </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination End -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                {{> category_sidebar category=category}}

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        {{#each products}}
                            {{> product product=this}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<!--{{> brand_slide brand=brand}}-->
<!-- Brand End -->

{{> footer}}
