{{> header shopActive=" active"}}

{{> breadcrum activeItem="Checkout"}}

<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            {{#each cart}}
                                {{#with product}}
                                    <tr id="product-{{id}}">
                                        <input type="hidden" value="{{id}}">
                                        <td>
                                            <div class="img">
                                                <a href="/products/{{id}}"><img src="{{images.[0].url}}"
                                                                                alt="Image"></a>
                                                <p>{{name}}</p>
                                            </div>
                                        </td>
                                        <td class="product-price">{{price}}₫</td>
                                        <td>
                                            <div class="qty">
                                                <input type="text" value="{{../quantity}}"
                                                       class="product-quantity order-review" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                {{/with}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Billing Address</h2>
                        <form id="billing-address-form" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="First Name"
                                           value="{{user.firstName}}" name="firstName" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="Last Name"
                                           value="{{user.lastName}}" disabled>
                                </div>
                                <div class=" col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email" placeholder="E-mail"
                                           value="{{user.email}}" name="email" required disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <input class="form-control" type="tel" placeholder="Phone"
                                           value="{{user.phone}}" name="phone" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Address</label>
                                    <input class="form-control" type="text" placeholder="Address"
                                           value="{{user.address}}" name="address" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Cart Total</h1>
                        <p class="sub-total">Sub Total<span>{{subTotal}}₫</span></p>
                        <p class="ship-cost">Shipping Cost<span>{{shippingCost}}₫</span></p>
                        <h2>Grand Total<span>{{grandTotal}}₫</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="payment-methods">
                            <h1>Payment Methods</h1>
                            {{#each payments}}
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-{{id}}"
                                               name="payment" value="{{id}}">
                                        <label class="custom-control-label" for="payment-{{id}}">{{name}}</label>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="checkout-btn">
                            <button>Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

{{> footer}}
