{{#with product}}
    <div class="product-item">
        <input type="hidden" value="{{id}}">
        <div class="product-title">
            <a href="/products/{{id}}">{{name}}</a>
        </div>
        <div class="product-image">
            <a href="/products/{{id}}">
                <img src="{{images.[0].url}}" alt="Product Image">
            </a>
            <div class="product-action">
                <a href="#" class="add-to-cart"><i class="fa fa-cart-plus"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="/products/{{id}}"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="product-price">
            <h3>{{price}}<span>₫</span></h3>
            <a class="btn buy-now"><i class="fa fa-shopping-cart"></i>Buy now</a>
        </div>
    </div>
{{/with}}